@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
   box-sizing: border-box;
   margin: 0; padding: 0;
   font-family: "Poppins",sans-serif;
}
body{
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Poppins",sans-serif;
}

a{color: inherit;text-decoration: none;}
a:hover{color: lightgreen;}
p{line-height: 1;margin:0;}
#add{
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
  height: 500px;
  overflow: hidden;
}
#add2{
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
  height: auto;
  overflow: auto;
}
#add > li, #add2 > li{
  display: flex;
  width: 100%;
  margin: 7px 0;
  padding: 7px;
}
#add > li img, #add2 > li img{
  width:100px;
  height: auto;
  border-radius: 5px;
}
#add > li span, #add2 > li span{
  margin: 0 7px;
  font-size: 13pt;
  color: #0a6d06;
}
#add > li:hover, #add2 > li:hover{
  border-radius: 5px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
footer span a{
  font-size: 10pt;
  margin: 7px;
}
#cover{
  width: 100%;
  height: auto;
  border-radius: 7px;
}
#title{
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 20pt;
}
#epub{
  width: auto;
  height: auto;
  padding: 7px;
  margin: 5px;
  border-radius: 7px;
  background-color: #008bff;
}
#epub a{
  color: #fff;
}
#pdf{
  width: auto;
  height: auto;
  padding: 7px;
  margin: 5px;
  border-radius: 7px;
  background-color: #008bff;
}
#pdf a{
  color: #fff;
}
#epub2, #pdf2{
  width: 100%;
  height: auto;
}
#epub2 > a:hover, #pdf2 > a:hover{
  box-shadow: 2px 2px 2px black;
}
#epub2 > a, #pdf2 > a{
  display: inline-block;
  padding: 7px;
  margin: 5px;
  border-radius: 7px;
  background-color: #008bff;
  color: #fff;
}
@media screen and (min-width:768px){
  #add{
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  #title{
    clear: left;
  }
  #cover{
    width: 300px;
    float: left;
    margin-right: 10px;
  }
}
